# Python artifacts
__pycache__/
.DS_Store
.ruff_cache/
.uv-cache/
.venv
*.egg-info/
*.pyc
*.pyd
*.pyo
*.swo
*.swp

# LaTeX artifacts
*_minted-*/
*.acn
*.acr
*.alg
*.aux
*.bcf
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.glsdefs
*.idx
*.ilg
*.ind
*.ist
*.listing
*.lof
*.log
*.lol
*.lot
*.maf
*.mtc*
*.mypyg
*.run.xml
*.synctex.gz
*.toc
*.xdv

# Local build artifacts
build*/
*:Zone.Identifier
tmp*
.uv_cache/
examples/diagrams/*.pdf
press/
site/
docs/assets/examples/*.png
docs/assets/examples/*.pdf
.coverage
*.meta

.texsmith/

*_build/