__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
.DS_Store

# LaTeX artifacts
*.aux
*.fdb_latexmk
*.fls
*.glsdefs
*.lol
*.log
*.mypyg
*.synctex.gz
*.xdv
*_minted-*/
*.acn
*.acr
*.alg
*.glo
*.glg
*.gls
*.idx
*.ilg
*.ind
*.ist
*.listing
*.maf
*.mtc*
*.toc
*.egg-info/
build/

.uv-cache/
.ruff_cache/
.venv
*.egg-info/