site_name: Demo
site_author: Yves Chevallier
theme:
  language: en
  name: material
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.top
    - navigation.indexes
    - navigation.tracking
    - navigation.expand
    - navigation.sections
    - toc.follow
    - content.code.copy
    - content.code.annotate
    - content.tabs.link
    - search.highlight
    - search.share
    - search.suggest
markdown_extensions:
  - abbr
  - admonition
  - table
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - pymdownx.caption:
      prepend: true
  - pymdownx.betterem
  - pymdownx.blocks.html
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.highlight:
      linenums: true
      use_pygments: false
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.blocks.caption
  - pymdownx.fancylists
  - pymdownx.inlinehilite
  - pymdownx.arithmatex
  - pymdownx.keys
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.snippets
  - pymdownx.saneheaders
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed
  - pymdownx.tasklist:
    custom_checkbox: false
  - pymdownx.tilde
  - toc:
      permalink: null

plugins:
  - search
