[compat]
texsmith = ">=0.1,<1.0"

[latex.template]
name = "article"
version = "0.1.0"
entrypoint = "template/template.tex"
engine = "lualatex" # For lua-specific features
shell_escape = true # MUST BE TRUE for minted package
texlive_year = 2023
tlmgr_packages = [
    "babel",
    "geometry",
    "hyperref",
    "microtype",
    "fontspec",
    "biblatex",
]

# Attributes:
# -----------
# Declare attributes that can be customized when using the template.
# These attributes will be available in the LaTeX template via variables.
# They can be populated using the YAML front matter in the document source files.
[latex.template.attributes]
base_level = 1
title = "Article Title"
author = "John Doe"
subtitle = ""
date = "\\today"
language = "english"
paper = "a4"
orientation = "portrait"
bibliography_style = "numeric"

# Slots definition:
# -----------------
# Each slot represents a section of the document that can be filled with content.
# The 'depth' parameter indicates the LaTeX sectioning command to use.
[latex.template.slots.mainmatter]
default = true
depth = "section"

[latex.template.slots.abstract]
depth = "section"
strip_heading = true

# Additional Assets:
# ------------------
# All additional assets to be included in the template package.
# They will be copied to the working directory when the template is used.
[latex.template.assets]
"callouts.sty" = { source = "template/callouts.sty" }
"todolist.sty" = { source = "template/todolist.sty" }
"keystroke.sty" = { source = "template/keystroke.sty" }
".latexmkrc" = { source = "template/assets/latexmkrc" }
