[compat]
texsmith = ">=0.1,<1.0"

[latex.template]
name = "article"
version = "0.1.0"
entrypoint = "template/template.tex"
engine = "lualatex" # For lua-specific features
shell_escape = true # MUST BE TRUE for minted package
texlive_year = 2023
tlmgr_packages = [
    "babel",
    "geometry",
    "hyperref",
    "microtype",
    "fontspec",
]

[latex.template.attributes]
base_level = 1
title = "Article Title"
author = "John Doe"
subtitle = ""
date = "\\today"
language = "english"
paper = "a4"
orientation = "portrait"
frontmatter = ""
backmatter = ""

[latex.template.slots.mainmatter]
default = true
depth = "section"

[latex.template.slots.abstract]
depth = "section"

[latex.template.assets]
"callouts.sty" = { source = "template/callouts.sty" }
"todo.sty" = { source = "template/todo.sty" }
"keystroke.sty" = { source = "template/keystroke.sty" }
