[compat]
texsmith = ">=0.1,<1.0"

[latex.template]
name = "article"
version = "0.1.0"
entrypoint = "template/template.tex"
engine = "lualatex"
shell_escape = true # MUST BE TRUE for minted package
texlive_year = 2023
tlmgr_packages = [
    "babel",
    "geometry",
    "hyperref",
    "microtype",
    "lmodern",
    "textcomp",
    "fontspec",
    "biblatex",
]

[latex.template.attributes.base_level]
default = 1
type = "integer"

[latex.template.attributes.title]
default = "Article Title"
type = "string"
escape = "latex"
allow_empty = false

[latex.template.attributes.subtitle]
default = ""
type = "string"
escape = "latex"

[latex.template.attributes.author]
default = ""
type = "string"
escape = "latex"
allow_empty = true
sources = ["press.author", "author"]

[latex.template.attributes.authors]
default = []
type = "list"
sources = ["press.authors", "press.author", "authors", "author"]

[latex.template.attributes.date]
default = "\\today"
type = "string"
escape = "latex"

[latex.template.attributes.language]
default = "english"
type = "string"
allow_empty = false
normaliser = "babel_language"

[latex.template.attributes.paper]
default = "a4paper"
type = "string"
normaliser = "paper_option"
allow_empty = false

[latex.template.attributes.orientation]
default = "portrait"
type = "string"
normaliser = "orientation"
choices = ["portrait", "landscape"]

[latex.template.attributes.preamble_injection]
default = ""
type = "string"
allow_empty = true
sources = ["press.override.preamble", "press.preamble", "preamble"]

[latex.template.attributes.bibliography_style]
default = "numeric"
type = "string"

# Slots definition:
# -----------------
# Each slot represents a section of the document that can be filled with content.
# The 'depth' parameter indicates the LaTeX sectioning command to use.
[latex.template.slots.mainmatter]
default = true
depth = "section"

[latex.template.slots.abstract]
depth = "section"
strip_heading = true

# Additional Assets:
# ------------------
# All additional assets to be included in the template package.
# They will be copied to the working directory when the template is used.
[latex.template.assets]
"callouts.sty" = { source = "template/callouts.sty" }
"todolist.sty" = { source = "template/todolist.sty" }
"keystroke.sty" = { source = "template/keystroke.sty" }
".latexmkrc" = { source = "template/assets/latexmkrc", template = true }
