[compat]
texsmith = ">=0.6,<1.0"

[latex.template]
name = "formal-letter"
version = "0.1.0"
entrypoint = "template/template.tex"
engine = "xelatex"
shell_escape = false
texlive_year = 2023
tlmgr_packages = [
    "babel",
    "fontspec",
    "microtype",
    "koma-script",
]

[latex.template.attributes.cursive]
default = false
type = "boolean"
sources = ["press.cursive"]

[latex.template.attributes.language]
default = "en-UK"
type = "string"
allow_empty = false
sources = ["press.language"]

[latex.template.attributes.standard]
default = ""
type = "string"
sources = ["press.standard", "press.layout", "press.format"]

[latex.template.attributes.date]
default = "\\today"
type = "string"
escape = "latex"
allow_empty = false
sources = ["press.date"]

[latex.template.attributes.object]
default = ""
type = "string"
escape = "latex"
sources = ["press.object"]

[latex.template.attributes.from_name]
default = ""
type = "string"
escape = "latex"
allow_empty = false
required = true
sources = ["press.from.name", "press.author", "author"]

[latex.template.attributes.from_address]
default = []
type = "list"
sources = ["press.from.address"]

[latex.template.attributes.back_address]
default = ""
type = "string"
escape = "latex"
sources = ["press.back_address", "press.back-address"]

[latex.template.attributes.from_location]
default = ""
type = "string"
escape = "latex"
sources = ["press.from.city", "press.from.location"]

[latex.template.attributes.to_name]
default = ""
type = "string"
escape = "latex"
allow_empty = false
required = true
sources = ["press.to.name"]

[latex.template.attributes.to_address]
default = []
type = "list"
sources = ["press.to.address"]

[latex.template.attributes.closing]
default = ""
type = "string"
escape = "latex"
sources = ["press.closing"]

[latex.template.attributes.callout_style]
default = "fancy"
type = "string"
choices = ["fancy", "classic", "minimal"]
sources = ["press.callout_style", "press.callouts.style", "callout_style"]
normaliser = "callout_style"

[latex.template.attributes.opening]
default = ""
type = "string"
escape = "latex"
sources = ["press.opening"]

[latex.template.attributes.signature]
default = ""
type = "any"
escape = "latex"
sources = ["press.signature"]

[latex.template.attributes.source_dir]
default = ""
type = "string"
allow_empty = true
sources = ["source_dir", "press._source_dir"]

[latex.template.attributes.output_dir]
default = ""
type = "string"
allow_empty = true
sources = ["output_dir"]

[latex.template.attributes.signature_align]
default = "left"
type = "string"
sources = ["press.signature.align", "press.signature_align"]

[latex.template.attributes.reference]
default = ""
type = "string"
escape = "latex"
sources = ["press.reference", "press.myref", "press.my_ref"]

[latex.template.attributes.reference_fields]
default = false
type = "boolean"
sources = ["press.reference_fields"]

[latex.template.attributes.postscript]
default = ""
type = "string"
escape = "latex"
sources = ["press.ps", "press.postscript"]

[latex.template.attributes.fold_marks]
default = false
type = "boolean"
sources = ["press.fold_marks"]

[latex.template.attributes.margin]
default = "default"
type = "string"
normaliser = "margin_style"
sources = ["press.margin", "margin"]

[latex.template.attributes.preamble]
default = ""
type = "string"
allow_empty = true
sources = ["press.override.preamble", "press.preamble", "preamble"]

[latex.template.attributes.page_numbers]
default = false
type = "boolean"
sources = ["press.page_numbers", "page_numbers"]

[latex.template.slots.mainmatter]
default = true

[latex.template.assets]
"fonts/modernline.otf" = { source = "fonts/modernline.otf" }
"callouts.sty" = { source = "template/callouts.sty.jinja", template = true }
"ts-fonts.sty" = { source = "../common/ts-fonts.sty.jinja", template = true }
