[compat]
texsmith = ">=0.6,<1.0"

[latex.template]
name = "book"
version = "0.2.0"
entrypoint = "template/template.tex"
engine = "lualatex"
shell_escape = false
texlive_year = 2023
tlmgr_packages = [
    "babel",
    "babel-french",
    "csquotes",
    "fontspec",
    "fancyvrb",
    "geometry",
    "hyperref",
    "longtable",
    "microtype",
    "titlesec",
    "titletoc",
    "xcolor",
    "xunicode",
]
override = ["codeblock.tex", "codeinline.tex"]
fragments = [
    "ts-geometry",
    "ts-fonts",
    "ts-extra",
    "ts-keystrokes",
    "ts-callouts",
    "ts-code",
    "ts-glossary",
    "ts-index",
    "ts-bibliography",
    "ts-todolist",
]

[latex.template.attributes.base_level]
default = 0
type = "integer"
sources = ["base_level"]

[latex.template.attributes.title]
default = "A LaTeX Book Template"
type = "string"
escape = "latex"
allow_empty = true
sources = ["title"]

[latex.template.attributes.subtitle]
default = "An example of a book template for MkDocs LaTeX"
type = "string"
escape = "latex"
allow_empty = true
sources = ["subtitle"]

[latex.template.attributes.authors]
default = []
type = "list"
sources = ["authors"]

[latex.template.attributes.email]
default = "john.doe@acme.corp"
type = "string"
escape = "latex"
allow_empty = true
sources = ["email"]

[latex.template.attributes.date]
default = ""
type = "string"
escape = "latex"
allow_empty = true
sources = ["date"]

[latex.template.attributes.language]
default = "english"
type = "string"
allow_empty = false
normaliser = "babel_language"
sources = ["language"]

[latex.template.attributes.documentclass]
default = "memoir"
type = "string"
allow_empty = false
sources = ["documentclass"]

[latex.template.attributes.columns]
default = 1
type = "integer"
sources = ["columns"]

[latex.template.attributes.hyperref_options]
default = "colorlinks=true, linkcolor=black, citecolor=black, plainpages=false, unicode=true, urlcolor=urlcolor"
type = "string"
allow_empty = true
sources = ["hyperref_options"]

[latex.template.attributes.cover]
default = "circles"
type = "string"
allow_empty = false
sources = ["cover"]

[latex.template.attributes.covercolor]
default = ""
type = "string"
allow_empty = true
sources = ["covercolor"]

[latex.template.attributes.edition]
default = ""
type = "string"
allow_empty = true
sources = ["edition"]

[latex.template.attributes.publisher]
default = ""
type = "string"
allow_empty = true
sources = ["publisher"]

[latex.template.attributes.imprint_thanks]
default = ""
type = "string"
allow_empty = true
sources = ["imprint_thanks"]

[latex.template.attributes.imprint_license]
default = ""
type = "string"
allow_empty = true
sources = ["imprint_license"]

[latex.template.attributes.imprint_copyright]
default = ""
type = "string"
allow_empty = true
sources = ["imprint_copyright"]

[latex.template.attributes.logo]
default = ""
type = "string"
allow_empty = true
sources = ["logo"]

[latex.template.attributes.glossary]
default = false
type = "boolean"
sources = ["glossary"]

[latex.template.attributes.glossary_style]
default = "long3col"
type = "string"
allow_empty = false
sources = ["glossary_style"]

[latex.template.attributes.listoffigures]
default = true
type = "boolean"
sources = ["listoffigures"]

[latex.template.attributes.listoftables]
default = true
type = "boolean"
sources = ["listoftables"]

[latex.template.attributes.preamble]
default = ""
type = "string"
allow_empty = true
sources = ["preamble"]

[latex.template.slots.frontmatter]
depth = "chapter"

[latex.template.slots.dedication]
depth = "chapter"
strip_heading = true

[latex.template.slots.mainmatter]
default = true
depth = "chapter"

[latex.template.slots.preface]
base_level = 0

[latex.template.slots.backmatter]
depth = "chapter"

[latex.template.slots.colophon]
depth = "chapter"
strip_heading = true

[latex.template.assets]
"covers" = { source = "covers" }
"covers/circles.tex" = { source = "covers/circles.tex", template = true }
"titlepage.tex" = { source = "template/titlepage.tex", template = true }
"imprint.tex" = { source = "template/imprint.tex", template = true }
".latexmkrc" = { source = "../common/latexmkrc", template = true }
