[compat]
texsmith = ">=0.1,<1.0"

[latex.template]
name = "article"
version = "0.1.0"
entrypoint = "template/template.tex"
engine = "lualatex"
shell_escape = false
texlive_year = 2023
tlmgr_packages = [
    "babel",
    "geometry",
    "hyperref",
    "microtype",
    "lmodern",
    "textcomp",
    "fontspec",
    "biblatex",
]
fragments = [
    "ts-geometry",
    "ts-fonts",
    "ts-extra",
    "ts-keystrokes",
    "ts-callouts",
    "ts-code",
    "ts-glossary",
    "ts-index",
    "ts-bibliography",
    "ts-todolist",
]

[latex.template.attributes.base_level]
default = 0
type = "integer"

[latex.template.attributes.title]
default = ""
type = "string"
escape = "latex"
allow_empty = true
sources = ["title"]

[latex.template.attributes.subtitle]
default = ""
type = "string"
escape = "latex"
sources = ["subtitle"]

[latex.template.attributes.emoji]
default = "black"
type = "string"
sources = ["emoji"]

[latex.template.attributes.toc]
default = false
type = "boolean"
sources = ["toc"]

[latex.template.attributes.authors]
default = []
type = "list"
sources = ["authors"]

[latex.template.attributes.date]
default = ""
type = "string"
escape = "latex"
sources = ["date"]

[latex.template.attributes.language]
default = "english"
type = "string"
allow_empty = false
normaliser = "babel_language"

[latex.template.attributes.columns]
default = 1
type = "integer"

[latex.template.attributes.page_numbers]
default = true
type = "boolean"
sources = ["page_numbers"]

[latex.template.attributes.numbering]
default = true
type = "boolean"
sources = ["numbering"]

[latex.template.attributes.glossary_style]
default = "list"
type = "string"
allow_empty = false
sources = ["glossary_style"]

[latex.template.attributes.preamble]
default = ""
type = "string"
allow_empty = true
format = "raw"
sources = ["preamble"]

[latex.template.attributes.bibliography_style]
default = "numeric"
type = "string"

# Slots definition:
# -----------------
# Each slot represents a section of the document that can be filled with content.
# The 'depth' parameter indicates the LaTeX sectioning command to use.
[latex.template.slots.mainmatter]
default = true
depth = "section"

[latex.template.slots.abstract]
depth = "section"
strip_heading = true

[latex.template.slots.backmatter]
depth = "section"
strip_heading = true

# Additional Assets:
# ------------------
# All additional assets to be included in the template package.
# They will be copied to the working directory when the template is used.
[latex.template.assets]
".latexmkrc" = { source = "../common/latexmkrc", template = true }
