[compat]
texsmith = ">=0.1,<1.0"

[latex.template]
name = "article"
version = "0.1.0"
entrypoint = "template/template.tex"
engine = "lualatex"
shell_escape = true # MUST BE TRUE for minted package
texlive_year = 2023
tlmgr_packages = [
    "babel",
    "geometry",
    "hyperref",
    "microtype",
    "lmodern",
    "textcomp",
    "fontspec",
    "biblatex",
]
fragments = ["ts-geometry", "ts-fonts", "ts-callouts", "ts-code", "ts-glossary", "ts-index"]

[latex.template.attributes.base_level]
default = 0
type = "integer"

[latex.template.attributes.title]
default = ""
type = "string"
escape = "latex"
allow_empty = true

[latex.template.attributes.subtitle]
default = ""
type = "string"
escape = "latex"

[latex.template.attributes.author]
default = ""
type = "string"
escape = "latex"
allow_empty = true
sources = ["press.author", "author"]

[latex.template.attributes.emoji]
default = "artifact"
type = "string"
choices = ["artifact", "symbola", "color"]
sources = ["press.emoji", "emoji"]

[latex.template.attributes.toc]
default = false
type = "boolean"
sources = ["press.toc", "toc"]

[latex.template.attributes.authors]
default = []
type = "list"
sources = ["press.authors", "press.author", "authors", "author"]

[latex.template.attributes.date]
default = ""
type = "string"
escape = "latex"

[latex.template.attributes.language]
default = "english"
type = "string"
allow_empty = false
normaliser = "babel_language"

[latex.template.attributes.paper]
default = "a4paper"
type = "string"
normaliser = "paper_option"
allow_empty = false

[latex.template.attributes.orientation]
default = "portrait"
type = "string"
normaliser = "orientation"
choices = ["portrait", "landscape"]

[latex.template.attributes.geometry]
default = {}
type = "mapping"
allow_empty = true
sources = ["press.geometry", "geometry"]

[latex.template.attributes.page_numbers]
default = true
type = "boolean"
sources = ["press.page_numbers", "page_numbers"]

[latex.template.attributes.callout_style]
default = "fancy"
type = "string"
choices = ["fancy", "classic", "minimal"]
sources = ["press.callout_style", "press.callouts.style", "callout_style"]
normaliser = "callout_style"

[latex.template.attributes.glossary_style]
default = "list"
type = "string"
allow_empty = false
sources = ["press.glossary.style", "press.glossary_style", "glossary_style"]

[latex.template.attributes.preamble]
default = ""
type = "string"
allow_empty = true
format = "raw"
sources = ["press.override.preamble", "press.preamble", "preamble"]

[latex.template.attributes.bibliography_style]
default = "numeric"
type = "string"

# Slots definition:
# -----------------
# Each slot represents a section of the document that can be filled with content.
# The 'depth' parameter indicates the LaTeX sectioning command to use.
[latex.template.slots.mainmatter]
default = true
depth = "section"

[latex.template.slots.abstract]
depth = "section"
strip_heading = true

[latex.template.slots.backmatter]
depth = "section"
strip_heading = true

# Additional Assets:
# ------------------
# All additional assets to be included in the template package.
# They will be copied to the working directory when the template is used.
[latex.template.assets]
"todolist.sty" = { source = "../common/todolist.sty" }
"keystroke.sty" = { source = "../common/keystroke.sty" }
".latexmkrc" = { source = "../common/latexmkrc", template = true }
