@font-face {
  font-family: "Noto Sans Mono";
  src: url("../assets/NotoSansMono-Regular.woff2") format("woff2");
}

:root {
  --md-code-font: "Noto Sans Mono", monospace;
}

[data-md-color-scheme="slate"] {
  --md-typeset-a-color: #86c5ff;
  --md-typeset-a-color--hover: #b3dcff;
}

.md-typeset code {
  line-height: 1.25;
}

/* Reduce size of code copy button to better fit the code font size */
.md-code__button {
  font-size: 0.8em;
}

/* Adjust the size of view/edit icons (eye/pencil)
   Default value is too big, it is not elegant
*/
.md-content__button svg {
  width: 18px;
  padding-top: 9px;
}


.md-typeset .headerlink {
  font-size: 0.7em;
  line-height: 1;
  vertical-align: middle;
  top: -0.1em;
  position: relative;
}

.md-typeset p,
article {
  hyphens: auto;
  text-align: justify;
  line-height: 1.7;
  text-align: justify;
  hyphens: auto;
}

/* .md-typeset h1 {
  font-size: 2.5em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.md-typeset h1 {
  margin-top: 1em;
  font-weight: 400;
}

.md-typeset h2,
.md-typeset h3 {
  font-weight: 600;
  color: var(--md-default-fg-color--light);
} */

.mermaid {
  text-align: center;
}

p > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.texsmith-smallcaps {
  font-variant: small-caps;
  letter-spacing: 0.04em;
}

dt {
  font-weight: 600;
}
